// Primera sección donde se encuentra tipos de materiales disponibles
#materials-section{
    justify-content: space-between;
}

#materials-section article {
    position: relative;
    width: 365px;
    height: 225px;
}

#materials-section article button{
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 10px;
    margin-bottom: 12px;
}

#option-1{
    background: url('assets/banners-14.jpg');
    background-size: 100% 100%;
}
    
#option-2{
    background: url('assets/banners-13.jpg');
    background-size: 100% 100%;
}
    
#option-3{
    background: url('assets/banners-12.jpg');
    background-size: 100% 100%;
}

#container{
    margin-top: 80px;
    width: 100%;
    position: relative;
    display: inline-block;
}
    // Banner del margen inferior izquierdo 
#aside {
    margin-top: 60px;
    float: left;
    width: 100%;
    max-width: 22vw;
}

#aside img {
    width: 70%;
    height: 100%;
    min-height: 300px;
    max-height: 300px;
}

#container-dry-build{
    position: relative;
    width: 100%;
    max-width: 65vw;
    float: right;
    height: auto;
    flex-direction: column;
}

// Contenedor de perfiles galvanizados

#container-dry-build h2 {
    text-align: center;
}

#title-banner{
    width: 500px;
    height: 40px;
    background-color: $yellow;
    justify-content: center;
    align-items: center;
    @include alignCenter()
}

.glider-contain{
    width: 100%;
    max-width: 900px;
    height: 50vh;
    justify-content: center;
}


// Carrusel con los materiales de construcción en seco

#dry-build-items {
    position: absolute;
    width: 100%;
    max-width: 850px;
    height: auto;
}

#dry-build-items.flex-container{
    justify-content: space-between;
}

#dry-build-items figure {
    margin-top: 20px;
    @include adaptative();
    min-width: 200px;
    max-width: 200px;
    max-height: 500px;
}

#dry-build-items figure.items:hover {
    box-shadow: 0px 0px 5px 3px rgba(199,199,199,1);
}

#dry-build-items figure img {
    @include adaptative();
    max-width: 185px;
    max-height: 185px
}
    
#dry-build-items figure p {
    @include alignCenter();
    width: 100%;
    max-width: 185px;
    text-align: center;
}

.items{
    flex-direction: column;
}

div.prices{
    @include alignCenter();
    display: none;
    width: 100%;
    max-width: 170px;
    text-align: center;
}

span.iva{
    font-size: 0.7rem;
}

.items button.btn-add{
    @include alignCenter();
    @include buttons();
    display: none;
    margin-bottom: 10px;
    width: 80%;
    min-width: 50px;
}
    
.items button p{
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 0.8rem;
    font-weight: 400;
}
    
.items:hover{
    .amount{
        display: block;
    }
    .btn-add{
        display: block;
    }
    .prices{
        display: block;
    }
}
    
.items button.amount {
    @include alignCenter();
    position: relative;
    padding: 12px 18px;
    display: none;
    border: 1px solid #d6d6d6;
    background-color: transparent;
    box-shadow: 0px 0px 0.5px 1px rgb(221, 221, 221);
    border-radius: 2px;
    margin-bottom: 10px;
}
    
.items button.amount span{
    padding-right: 35px;
}

